@model IEnumerable<Wei.OA.Model.WF_Instance>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowMyUnCheck</title>
    <link href="~/Content/MyCss/tableStyle.css" rel="stylesheet" />
</head>
<body>
<div>
    <table>
        <tr>
            <th>流程名</th>
            <th>模板名
            </th>
            
            <th>提交人
            </th>
            <th>提交时间
            </th>
            <th>状态
            </th>
            <th>备注
            </th>
            <th>操作</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
              
                <td>
                    @Html.DisplayFor(modelItem => item.InstanceName)
                </td>
                <td>
                    @item.WF_Temp.TempName
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.StartBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @if (item.Status == 0)
                    {
                        <span>审批中</span>
                    }
                    else
                    {
                        <span>结束</span>
                    }
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
             
                <td>
                    <a href="/WFInstance/ShowCheck/@item.Id">审批</a>
                </td>
            </tr>
        }

    </table>
</div>
</body>
</html>
